body {
    background-color: #000b3f;
    border: 10px double #658077;
    border-radius: 20px;
    color: aqua;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
}

.debug {
    background-color: darkslategray;
    color: chartreuse;
    border: 2px solid chartreuse;
    border-radius: 10px;
    padding: 5px;

    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.debug:hover {
    opacity: 1;

    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.error {
    color: crimson;
}

div.block {
    background-color: #4c3230;
    color: #faf3c8;
    border: 7px ridge #b89a20;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

div.block {
    opacity: 0.65;

    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

div.block:hover {
    border: 7px ridge #5a3603;
    opacity: 1;

    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

div.block_detail {
    background-color: #4c3230;
    color: #faf3c8;
    border: 7px ridge #b89a20;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.image__section {
    display: flex;
}

.image__section img {
    overflow: hidden;
    margin-right: 10px;
    border-radius: 100px;
    border: 2px solid #80775a;
    width: 150px;
    height: 150px;

    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.image__section img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    margin-top: 10px;
}

.image__section.list img {
    width: 100px;
    height: 100px;
}

.user_info {
    position:relative;
    padding-bottom:50px;
}

.user_info a {
    color: antiquewhite;
    text-decoration: none;
    position: absolute;
    padding: 5px;
    border: 5px ridge #4c3230;
    background-color: #5a1e23;

    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.user_info a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}