<template>
    <div class="search" id="searchBlock">
        <label for="search">
            Поиск
        </label>
        <input id="search" v-model="search" type="text"/>

        <div :class="{error: hasError}" v-html="log"></div>
        <p v-for="name in names" v-html="name.name"></p>
        <label for="option"></label>
        <select v-model="option" id="option">
            <option value="users">
                Пользователи
            </option>
            <option value="things">
                Вещи
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        name: "search",
        el: '#searchBlock',
        data: {
            log: 'Введите поисковый запрос',
            search: '',
            hasError: false,
            option: 'users',
            names: [],
        },
        watch: {
            search: function () {
                vm.log = 'Набор...';
                if (/^\s+$/.test(vm.search) || vm.search === '') {
                    vm.log = 'Пустой поисковый запрос';
                } else {
                    vm.debouncedGetAnswer();
                }
            }
        }
        ,
        created: function () {
            this.debouncedGetAnswer = _.debounce(this.getSearch, 10)
        }
        ,
        methods: {
            getSearch: function () {
                vm.log = 'Поиск...';
                vm.names = [];
                axios({
                    method: 'post',
                    url: 'search.php',
                    data:
                        {
                            name: vm.search,
                            option: vm.option
                        }
                })
                    .then(function (response) {
                        vm.hasError = false;
                        vm.log = '';
                        $.each(response.data, function (index, value) {
                            vm.names[index] = {name: '<b>' + vm.search + '</b>' + value.substring(vm.search.length) + '<br>'};
                        });
                    })
                    .catch(function (error) {
                        vm.hasError = true;
                        vm.log += error;
                        console.log(error);
                    });
            }
        }
    })};
</script>

<style scoped>

</style>